# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\manny\Documents\Manny Data Analytics BootCamp\Manny Berkeley Class\PyBer Project\PyBer_Analysis_Challenge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
